{% extends 'base.html'%}
{% block content%}
<div class="card-body">
    <h2 class="card-title">Name: {{ cat.name }}</h2>
    <p>Breed: {{ cat.breed }}</p>
    <p>Description: {{ cat.description }}</p>
    {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
    {% else %}
        <p>Age: Kitten</p>
    {% endif %}

    {% for cattoy in cat.cattoys.all %}
        <p>{{ cattoy.name }}</p>
    {% empty %}
        <p>Cat has no toys... :(</p>
    {% endfor %}
    
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'cats_update' cat.id %}">Update Details</a> |
        <a class="btn btn-danger" href="{% url 'cats_delete' cat.id %}">DELETE Cat</a>
    {% endif %}
</div>
{% endblock %}